ul.gj-tree-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

li.gj-tree-item {
    padding: 0px;
    margin: 0px;
}

li.gj-tree-item div[data-role="wrapper"] {
    display: table;
}

li.gj-tree-item [data-role="expander"] {
    display: table-cell;
    vertical-align:middle;
    text-align:center;
    cursor: pointer;
}

li.gj-tree-item [data-role="checkbox"] {
    display: table-cell;
    vertical-align:middle;
    text-align:center;
}

li.gj-tree-item [data-role="icon"] {
    display: table-cell;
    vertical-align:middle;
    text-align:center;
}

li.gj-tree-item [data-role="display"] {
    display: table-cell;
    vertical-align:middle;
    cursor: pointer;
}

li.gj-tree-item [data-role="expander"] {
    width: 10px;
}

span[data-role="indicator"] {
    width: 10px;
}

.gj-tree-display {
    padding: 2px 4px;
}

.gj-tree-base-active span[data-role="display"] {
    background-color: #ddd;
}

/* Bootstrap Theme */
ul.gj-tree-bootstrap-list {
    padding-left: 0px;
    margin-bottom: 0px;
}

li ul.gj-tree-bootstrap-list {
    padding-left: 0px;
}

li.gj-tree-bootstrap-item {
}

ul li.gj-tree-bootstrap-item ul li.gj-tree-bootstrap-item {
    border-left: 0px;
    border-right: 0px;
}

ul li.gj-tree-bootstrap-item ul li.gj-tree-bootstrap-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

ul li.gj-tree-bootstrap-item ul li.gj-tree-bootstrap-item:last-child {
    border-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

ul li.gj-tree-bootstrap-item [data-role="expander"] {
    width: 24px;
}

ul li.gj-tree-bootstrap-item [data-role="checkbox"] {
    width: 24px;
}

ul li.gj-tree-bootstrap-item [data-role="icon"] {
    width: 24px;
}

.gj-tree-bootstrap-display {
    padding: 10px 0px;
}
.list-group-item.active ul li, .list-group-item.active:focus ul li, .list-group-item.active:hover ul li {
    text-shadow: none;
    color:initial;
}

/* Material Design Theme */
.gj-tree-mdl-list {
    padding: 0px;
    list-style-type: none;
}

.gj-tree-mdl-item {
    display: list-item;
    list-style-type: none;
    padding: 4px 0px 4px 0px;
    min-height: unset;
}

li.gj-tree-mdl-item [data-role="expander"] {
    height: 24px;
    width: 24px;
}

li.gj-tree-mdl-item [data-role="checkbox"] {
    height: 24px;
    width: 24px;
}

li.gj-tree-mdl-item [data-role="icon"] {
    height: 24px;
    width: 24px;
}

.gj-tree-mdl-icon-plus::after {
    content: "\E145";
}
.gj-tree-mdl-icon-minus::after {
    content: "\E15B";
}

.gj-tree-mdl-active {
    background: #b3d4fc;
}