/* Material Design Theme */
.gj-grid-md-table tfoot tr th {
    padding-right: 14px;
}

.gj-grid-md-table tfoot tr th .gj-button-md {
    height: 24px;
}

.gj-grid-md-table tfoot tr th .gj-grid-mdl-pager-label {
    padding-left: 5px;
    padding-right: 5px;
}

/* Bootstrap */
table.gj-grid-table tfoot tr th.gj-grid-bootstrap-tfoot-cell {
    line-height: 30px;
    background-color: #f5f5f5;
}

table.gj-grid-table tfoot tr th.gj-grid-bootstrap-tfoot-cell > div > div {
    margin-right: 5px;
}

table.gj-grid-table tfoot tr th.gj-grid-bootstrap-tfoot-cell > div > button {
    margin-right: 5px;
}