.gj-dirty {
    position: absolute;
    top: 0px;
    left: 0px;
    border-style: solid;
    border-width: 3px;
    border-color: #f00 transparent transparent #f00;
    padding: 0;
    overflow: hidden;
    vertical-align: top;
}

/* Material Design */
.gj-grid-table tbody .gj-dropdown-md [role="presenter"] [role="display"] {
    padding: 0px;
}

.gj-grid-table tbody .gj-dropdown-md [role="presenter"] [role="expander"] .material-icons {
    position: absolute;
    top: -6px;
    right: 0px;
}

/* Bootstrap */
.gj-grid-bootstrap-table tbody tr td[data-mode="edit"] {
    padding: 0px;
}

.gj-grid-bootstrap-table tbody tr td[data-mode="edit"] [data-role="edit"] {
    padding: 0px;
}

.gj-grid-bootstrap-table tbody tr td[data-mode="edit"] [data-role="edit"] input[type="text"] {
    height: 37px;
}

.gj-grid-bootstrap-table tbody tr td[data-mode="edit"] .gj-dropdown-bootstrap [role="presenter"] {
    border: 0px;
    border-radius: 0px;
    height: 37px;
    padding-left: 8px;
}

.gj-grid-bootstrap-table tbody tr td[data-mode="edit"] .gj-datepicker-bootstrap {
    height: 37px;
}

.gj-grid-bootstrap-table tbody tr td[data-mode="edit"] .gj-datepicker-bootstrap [role="input"] {
    height: 37px;
    border:0px;
    border-radius: 0px;
}

.gj-grid-bootstrap-table tbody tr td[data-mode="edit"] .gj-datepicker-bootstrap [role="right-icon"] {
    border:0px;
    border-radius: 0px;
}