DIV.gj-grid-wrapper {
    margin: auto;
    position: relative;
    clear:both;
}

TABLE.gj-grid-table {
    margin: auto;    
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

TABLE.gj-grid-table THEAD TH [data-role="selectAll"] {
    margin: auto;
}

TABLE.gj-grid-table THEAD TH [data-role="title"] {
    display: inline-block;
}

TABLE.gj-grid-table THEAD TH [data-role="sorticon"] {
    display: inline-block;
}

TABLE.gj-grid-table > thead > tr > th,
TABLE.gj-grid-table > tbody > tr > td {
    overflow: hidden;
}

TABLE.gj-grid-table DIV[data-role="display"], TABLE.gj-grid-table DIV[data-role="display"] DIV {
	vertical-align: middle;
	text-indent: 0;
    display: inline-block;
    white-space: pre-wrap;
    -ms-word-break: break-word;
    word-break: break-word;
}

TABLE.gj-grid-table .fa {
    padding: 2px;
}

TABLE.gj-grid-table > tbody > tr > td > div
{
    padding: 2px;
    overflow: hidden;
}

DIV.gj-grid-wrapper DIV.gj-grid-loading-cover
{
    background: #BBBBBB;
    opacity: 0.5;
    position: absolute;
    vertical-align: middle;
}

DIV.gj-grid-wrapper DIV.gj-grid-loading-text
{
    position: absolute;
    font-weight: bold;
}

.gj-dirty {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px;
    border-color: #f00 transparent transparent #f00;
    padding: 0;
    overflow: hidden;
    vertical-align: top;
}

TABLE.gj-grid-table .gj-grid-icon
{
    margin: 0 2px;
    cursor: pointer;
    overflow: visible;
    width: 16px;
    height: 16px;
}

/* Bootstrap Theme */
div.gj-grid-wrapper div.gj-grid-bootstrap-toolbar {
    background-color: #f5f5f5;
    padding: 8px;
    font-weight: bold;
    border: 1px solid #ddd;
}

table.gj-grid-bootstrap-table thead th {
    background-color: #f5f5f5;
    vertical-align:middle;
}

table.gj-grid-bootstrap-table thead th [data-role="sorticon"] {
    margin-left: 5px;
}

table.gj-grid-bootstrap-table thead th [data-role="sorticon"] i.material-icons {
    position: absolute;
    font-size: 20px;
    top: 15px;
}

table.gj-grid-bootstrap-table tbody tr td div[data-role="display"] {
    padding: 0px;
}

/* Material Design Theme */
.gj-grid-md-table {
    position: relative;
    border: 1px solid rgba(0,0,0,.12);
    border-collapse: collapse;
    white-space: nowrap;
    font-size: 13px;
    font-family: "Helvetica","Arial",sans-serif;
    background-color: #fff;
}

.gj-grid-md-table td:first-of-type, .gj-grid-md-table th:first-of-type {
    padding-left: 24px;
}

.gj-grid-md-table th {
    position: relative;
    vertical-align: bottom;
    text-overflow: ellipsis;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    height: 48px;
    font-size: 12px;
    color: rgba(0,0,0,.54);
    padding-bottom: 8px;
    box-sizing: border-box;
    padding: 0 18px 12px 18px;
    text-align: right;
}

.gj-grid-md-table tbody tr {
    position: relative;
    height: 48px;
    transition-duration: .28s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-property: background-color;
}

.gj-grid-md-table tbody tr:hover {
    background-color: #EEEEEE; /* Gray 200 */
}

.gj-grid-md-table td {
    position: relative;
    height: 48px;
    border-top: 1px solid rgba(0,0,0,.12);
    border-bottom: 1px solid rgba(0,0,0,.12);
    padding: 12px 18px;
    box-sizing: border-box;
    text-align: left;
}

.gj-grid-md-table tbody tr.gj-grid-md-select {
    background-color: #F5F5F5; /* Grey 100 */
}


table.gj-grid-md-table thead th [data-role="sorticon"] {
    margin-left: 5px;
}

table.gj-grid-md-table thead th [data-role="sorticon"] i.material-icons {
    position: absolute;
    font-size: 18px;
    top: 13px;
}

table.gj-grid-md-table thead th.gj-grid-select-all {
    padding-bottom: 3px;
}

.gj-grid-table .gj-grid-md-limit-select {
    text-align: right;
    display: inline-block;
    width: 50px;
    padding: 0px 5px;
    margin-left: 10px;
    font-size: 13px;
}