.gj-editor [role="body"] {
    overflow: auto;
    outline: 0px solid transparent;
    box-sizing: border-box;
}

/* Material Design */
.gj-editor-md {
    padding: 7px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    border: 1px solid rgba(158,158,158,.2);
}

.gj-editor-md [role="toolbar"] {
    margin-bottom: 7px;
}

.gj-editor-md [role="toolbar"] .gj-button-md {
    min-width: 54px;
    margin-right: 5px;
}

.gj-editor-md [role="toolbar"] .gj-button-md .gj-icon {
    width: 24px;
    height: 24px;
}

.gj-editor-md [role="body"] {
    border: 1px solid rgba(158,158,158,.2);
}

.gj-editor-md p {
    margin: 0;
    padding: 0;
}

.gj-editor-md blockquote {
    font-size: 14px;
}

/* Bootstrap */
.gj-editor-bootstrap {
    padding: 7px;
    border: 1px solid #eceeef;
}

.gj-editor-bootstrap [role="toolbar"] {
    margin-bottom: 7px;
}

.gj-editor-bootstrap [role="toolbar"] .btn-group {
    margin-right: 10px;
}

.gj-editor-bootstrap [role="toolbar"] button {
    height: 36px;
}

.gj-editor-bootstrap [role="body"] {
    border: 1px solid #eceeef;
}

.gj-editor-bootstrap p {
    margin: 0;
    padding: 0;
}

.gj-editor-bootstrap blockquote {
    font-size: 14px;
}