.gj-picker.datetimepicker [role="header"] [role="date"] {
    padding-bottom: 5px;
    text-align: center;
    cursor: pointer;
}

.gj-picker [role="switch"] {
    align-items: baseline;
    user-select: none;
    position: relative;
}

.gj-picker [role="switch"] [role="calendarMode"] {
    cursor: pointer;
    position: absolute;
    bottom: 2px;
    left: 0px;
}

.gj-picker [role="switch"] [role="time"] {
    width: 100%;
    text-align: center;
}

.gj-picker [role="switch"] [role="time"] div {
    display: inline;
    cursor: pointer;
}

.gj-picker [role="switch"] [role="calendarMode"] {
    cursor: pointer;
}

.gj-picker [role="switch"] [role="clockMode"] {
    position: absolute;
    right: 0px;
    bottom: 3px;
    cursor: pointer;
}

/* Material Design */
.gj-picker-md.datetimepicker [role="header"] {
    font-size: 36px;
    padding: 10px 20px;
    display: block;
}

.gj-picker-md [role="switch"] {
    color: rgba(255, 255, 255, 0.54);
    background: #2196f3;
    font-size: 32px;
}

/* Bootstrap */
.gj-picker-bootstrap.datetimepicker [role="header"] {
    font-size: 36px;
    padding: 10px 20px;
    display: block;
}

.gj-picker-bootstrap.datetimepicker [role="header"] [role="time"] {
    font-size: 22px;
}
